<div class="nav">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h2>
              <span>Toolbar with Icon Buttons</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
                <ng-md-icon icon="favorite"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
